@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --Nutmeg: rgb(133, 70, 50);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);

  /* Fonts */
  --body-font-size: 1em;
  --heading-font: "Young Serif";
  --body-font: "Outfit";
}

body {
  background: rgba(243, 229, 216, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--body-font-size);
  font-family: var(--body-font);
}
h1 {
  font-family: var(--heading-font);
}
.container {
  margin: 5rem auto;
  background: white;
  height: auto;
  max-width: 55%;
  padding: 2.5rem;
  border-radius: 24px;
}
p,
li,
td {
  color: grey;
  font-size: 1.3rem;
}
strong {
  color: rgb(79, 74, 74);
}
.container_header img {
display: block;
object-fit: contain;
 width: 100%;
  border-radius: 12px;
}
.preparation_time {
  margin-top: 2rem;
  background: var(--Rose-White);
  border-radius: 12px;
  padding: 12px;
}

.preparation_time h3 {
  margin-left: 1rem;
  color: var(--Dark-Raspberry);
  font-size: 1.5rem;
}
.preparation_time ul li::marker {
  color: var(--Dark-Raspberry);
}
li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
h2 {
  font-family: var(--heading-font);
  color: var(--Nutmeg);
  font-weight: 400;
  font-size: 1.9rem;
}
#instructions ul li {
  line-height: 1.8rem;
  list-style-type: decimal;
}
#ingredients,
#instructions {
  border-bottom: 1px solid var(--Light-Grey);
  padding-bottom: 1.5rem;
}
section {
  padding-top: 1rem;
}
.ingredients_list li::marker,
.instructions_list li::marker {
  color: var(--Nutmeg);
}

#nutrition .value {
  color: var(--Nutmeg);
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
}
#nutrition table td {
  padding: 15px;
  font-weight: 500;
}
#nutrition table tr {
  border-bottom: 1px solid var(--Light-Grey);
}
#nutrition table tr:last-child {
  border-bottom: none;
}
.container_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.container_footer img {
  margin-top: 2rem;
}

.container_footer img:hover {
  cursor: pointer;
}

/* Responsive */
@media only screen and (min-width: 540px) and (max-width: 850px) {
  
  .container{
    max-width: 80%;
  }
}

@media only screen and (max-width: 540px) {
 .container{
margin: 0;
max-width: 100%;
padding: 0;
 }

  .container_header img{
  border-radius: 0;
  height: auto;
 
}
.container_content{
  padding: 30px;
}
li{
  padding-left: 1rem;
}
 

}